@media (min-width: 601px) and (max-width:1000px){
	
body{

font-family: arial,sans-serif;
}


 aside {

float:left;
width: 40%;
clear:both;

 }
section{
	float: left;
	width: 60%;
}
#formacion {

width: 100%;


}
#experiencia{

width: 100%;

}	
}